<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/unit-list.css}">
</head>

<body>
  <main class="page">
    <a href="#" class="new-button">作成</a>

    <table class="unit-table">
      <thead>
        <tr>
          <th>単位名</th>
          <th>状態</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="unit : ${unitList}">
          <td>
            <a class="unit-link" href="#" th:text="${unit.name}"></a>
          </td>

          <td th:text="${unit.active} ? '有効' : '無効'"></td>
        </tr>
      </tbody>

    </table>
  </main>
</body>

</html>