<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/app/initial-password-setup.css}" />
</head>

<body>
  <main class="page">
    <div class="page">
      <div class="form-card">
        <h1 class="page-title">初回パスワード設定</h1>

        <form th:action="@{/account/initial-password-setup}" th:object="${form}" method="post">
          <input type="hidden" th:field="*{token}">

          <div class="error-message" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
          </div>

          <div class="form-group">
            <label class="form-label">氏名</label>
            <div th:text="${user.lastName + user.firstName}"></div>
          </div>

          <div class="form-group">
            <label class="form-label">メールアドレス</label>
            <div th:text="${user.email}"></div>
          </div>

          <div class="form-group">
            <label class="form-label" for="password">パスワード</label>
            <input class="form-input" type="password" id="password" name="password" th:errorclass="input-error">
            <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          </div>

          <div class="form-group">
            <label class="form-label" for="confirmPassword">パスワード(確認用)</label>
            <input class="form-input" type="password" id="confirmPassword" name="confirmPassword"
              th:errorclass="input-error">
            <div class="error-message" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
            </div>
          </div>

          <button type="submit" class="submit-button">登録</button>

        </form>
      </div>

    </div>
  </main>

</body>

</html>